Django==6.0.5
gunicorn
psycopg2-binary==2.9.10
dj-database-url==1.0.0
python-dotenv==1.0.1

djangorestframework
django-cors-headers

numpy
pillow
requests

qrcode[pil]
openpyxl==3.1.5

opencv-python-headless

sqlparse
tzdata
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.8
channels==4.1.0
daphne==4.1.2
